Locust Test Report
During: 3/31/2023, 2:00:45 PM - 3/31/2023, 2:01:37 PM
_________________________________________________________________
Target Host: http://localhost:80

Script: locustfile.py

Number of users (peak ocurrency): 500

Spawn rate (users started/second): 10
_________________________________________________________________
Device specifications:

Processor: Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz   2.80 GHz

Installed Ram: 8.00 GB (7.86 GB usable)

System type: 64-bit operating system, x64-based processor
_________________________________________________________________
Windows specification:

Edition: Windows 10 Home

OS Build: 19045.2728

